################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/SAE-VB/FileContentIndex/bda55b1f-b8af-4475-a0ae-04521782ab5d.vsidx
/.vs/SAE-VB/v17/.suo
